h2{
    margin:0;
    display: block;
    font-size: 1.5em;
    padding-block-start: 0.83em;
    padding-block-end: 0.83em;
    padding-inline-start: 0px;
    padding-inline-end: 0px;
    font-weight: bold;
}

.Techs{
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.Techbox{
  padding: 30px
}